<%= form_with(model: @album_form, url: @album, method: :patch) do |f| %>
  <%= button_tag type: 'submit', class:'bg-transparent border-none cursor-pointer p-0 outline-none' do %>
    <i class="fas fa-check text-blue-600 text-3xl md:text-5xl"></i>
  <% end %>
  <%= f.text_field :name %>
<div class="album_form">
    <%= f.file_field :pictures, :multiple => true, accept: 'image/png,image/gif,image/jpeg' %>
    <div class="pictures-wrapper grid grid-cols-2 md:grid-cols-6">
      <%= render @pictures %>
    </div>
  <% end %>
</div>
<script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
