<h1>My Albums</h1>
<div>
  <%= form_with(model: @album_form, url: albums_path) do |form| %>
    <%= form.text_field :name %>
    <%= form.file_field :picture_name %>
    <%= form.submit "登録"%>
  <% end %>
</div>
<div>
  <%= render @albums %>
</div>
