<header>
  <div class='flex justify-between items-center'>
    <%= link_to 'memopic', root_path, class: 'font-serif-sc text-5xl ml-4 mb-3 md:ml-10 text-black' %>
    <div>
      <button id='hamburger-button' class='mr-3 bg-transparent border-none cursor-pointer outline-none appearance-none'>
        <svg class="h-8 w-8 fill-current" viewBox="0 0 24 24">
            <path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>
        </svg>                       
      </button>
    </div>
  </div>
  <div id='menu' class='hidden'>
    <ul class='list-none px-4'>
      <li><%= link_to '使い方', howto_path, class: 'block px-8 py-2 text-black' %></li>
      <li><%= link_to 'お問い合わせ', 'https://forms.gle/7U1X5hvEqYs6KofN6', class: 'block px-8 py-2 text-black', target: :_blank %></li>
      <hr id='navbar-divider'>
      <li><span class='block px-8 py-2'><%= current_user.nickname %></span></li>
      <li><%= link_to 'ログアウト', logout_path, class: 'block px-8 py-2 text-black' %></li>
    </ul>
  </div>
</header>
<% if user_signed_in? %>
  <div class="main-content p-2 mt-2">
    <div class="album_form text-center">
      <div class="wrapper-button-new-album">
        <button class="button-new-album">新しいアルバムを作成する</button>
      </div>
      <%= form_with(model: @album_form, url: albums_path, class: "form-new-album hidden md:block") do |form| %>
        <div id="album-name-input">
          <%= form.text_field :name, placeholder: 'アルバムのタイトルを追加', class: "input-new-album-title text-base md:text-2xl", autocomplete:"off", required: true %>
        </div>
        <div class='mb-3 md:flex md:justify-center'>

          <div class="md:w-2/5">
            <h3 class="m-0 text-left ml-3">写真</h3>
            <div id='pictures-input'>
              <label class="file-label block md:h-full md:flex md:justify-center md:items-center md:flex-col">           
                  <span style="color: orange">
                    <i class="far fa-images fa-4x"></i>
                  </span>
                  <%= form.file_field :pictures, multiple: true, accept: 'image/png,image/gif,image/jpeg', class: 'file-input', required: true %>
                  <div class='file-count'>未選択</div>
            
              </label>
            </div>
          </div>

          <div class="text-4xl md:w-1/12 md:flex md:justify-center md:items-center">
            <div>+</div>
          </div>

          <div class="md:w-2/5">
            <h3 class="m-0 text-left ml-3">音楽</h3>
            <div class="border rounded-lg border-solid p-2">
              <h4 class="m-0 mb-5 text-left">◯ Spotify から選ぶ</h4>
              <ul class="image-list p-0 w-11/12 m-auto">
                <% @playlists.each do |playlist| %>
                  <li class='inline-block outline-none'>
                    <div class="image-box mx-auto">
                      <%= image_tag playlist[:image_url], class: 'h-full w-full playlist-thumbnail' %>
                      <div class="playlist-thumbnail-mask absolute bottom-0 bg-black bg-opacity-25 justify-center items-center flex">
                        <span class='text-white'><%= playlist[:name] %></span>
                      </div>
                      <input class='hidden' type='radio' name='album_form[playlist_name]' value=<%= playlist[:name] %>>
                      <input class='hidden' type='radio' name='album_form[playlist_url]' value=<%= playlist[:url] %>>
                    </div>
                  </li>
                <% end %>
              </ul>
              <h4 class="mt-5 mb-3 text-left">◯ 自分で入力する</h4>
              <%= form.text_field :playlist_name, placeholder: 'プレイリストのタイトルを追加', class: "input-new-playlist-name" %>
              <%= form.text_field :playlist_url, placeholder: 'プレイリストのURLを追加', class: "input-new-playlist-link" %>
            </div>
          </div>

        </div>
        <div class="right">
          <%= button_tag type: 'submit', class: "button-submit", data: { disable_with: "アップロード中" } do %>
            <i class="fas fa-cloud-upload-alt"></i>  アップロードする
          <% end %>
          <div class="progress-bar-container">
            <div class="progress-percentage">0%</div>
            <progress class="progress" max="100" value="0"></progress>
          </div>
        </div>

      <% end %>
    </div>


    <div id="map" class="md:mx-20 my-5 md:my-10"></div>
    <div class="albums text-center">
      <% @albums.zip(@thumbpics).each do |album, thumbpic| %>
        <%= render partial: "album" ,locals: {album: album, thumbpic: thumbpic} %>
      <% end %>
    </div>


  </div>
<% end %>
<script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('.button-new-album').on('click', () => {
      $('.form-new-album').slideToggle(alertFunc);
    });
    function alertFunc(){
      if ($(this).css('display') != 'none') {
        $(".button-new-album").text("▲ 閉じる");
        $(".button-new-album").css('color', 'orange')
        $(".button-new-album").css('background', 'white')
      }else{
        $(".button-new-album").text("新しいアルバムを作成する");
        $(".button-new-album").css('color', '#fff')
        $(".button-new-album").css('background', 'linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%)')
      }
    };

    // ハンバーガーメニューの開閉
    $('#hamburger-button').on('click', () => {
      $('#menu').slideToggle();
    });

    // 選択されているファイルの個数を数える
    $('.file-input').on('change', function (e) {
      const fileCount = $(this).get(0).files.length;
      if(fileCount > 0){
        $('.file-count').text(String(fileCount) + '個の画像が選択されています');
      }else{
        $('.file-count').text('画像が選択されていません');
      }
    });

    // 画像がクリックされた時の処理です。
    $('.playlist-thumbnail-mask').click(function() {
      console.log('test');
      const $imageList = $('.image-list');

      // 現在の選択を解除します。
      $imageList.find('img.playlist-thumbnail.checked').removeClass('checked');

      // チェックを入れた状態にします。
      $(this).prev().addClass('checked');

      $(this).nextAll().prop('checked', true);
    });

    // Spotify のアルバムのサムネイルをスライド表示
    $('.image-list').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 4,
      prevArrow: "<button type='button' class='slide-arrow prev-arrow cursor-pointer'></button>",
      nextArrow: "<button type='button' class='slide-arrow next-arrow cursor-pointer'></button>",
      responsive: [{
        breakpoint: 480,
        settings: {
          slidesToShow: 3
        }
      }],
    });
  });
</script>
<script>
  let map;
  let infowindow;
  const ICON_W = 100;
  const ICON_H = 100;
  const mapOptions = {
    center: {lat: 35.4093320, lng: 136.7566470},
      zoom: 6
  };

  function initMap() {
    infowindow = new google.maps.InfoWindow();
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    google.maps.event.addListener(map, "click", function() {infowindow.close();});

    gon.thumbpics_data.forEach(function(thumbpic_data){
      
      // ランダムな初期値
      let lat = Math.random() * (36 - 34) + 34;
      let lng = Math.random() * (140 - 132) + 132;
      // 緯度・経度があればそれを参照する
      if(thumbpic_data.lat){
        lat = thumbpic_data.lat;
      }
      if(thumbpic_data.lat){
        lng = thumbpic_data.lng;
      }

      const point = new google.maps.LatLng(lat, lng);
      const html = `
        <a href="albums/${ thumbpic_data.album_hash }">
          ${ thumbpic_data.album_name }
        </a>
      `
      createImgMarker(point, html, thumbpic_data.thumbpic_url);

      if(thumbpic_data.playlists.length > 0){
        let musicInfo = ``
        thumbpic_data.playlists.forEach(function(playlist){
          musicInfo += `
            <a href="${ playlist.url }">
              ${ playlist.name }
            </a><br>
          `
        });
        createMusicMarker(point, musicInfo);
      }
    });
  }

  function createImgMarker(latlng, html, uri) {
    const marker = new google.maps.Marker({
      position: latlng,
      map: map,
      icon: {
        url: uri,
        scaledSize : new google.maps.Size(ICON_W, ICON_H)
      }
    });
    google.maps.event.addListener(marker, "mouseover", function() {
      infowindow.setContent(html);
      infowindow.open(map, marker);
    });
    google.maps.event.addListener(marker, "click", function() {
      infowindow.setContent(html);
      infowindow.open(map, marker);
    });
  }

  function createMusicMarker(latlng, html) {
    const musicMarker = new google.maps.Marker({
      position: latlng,
      map: map,
      icon: {
        anchor: new google.maps.Point(- ICON_W*3/8 , ICON_H*9/8),
        url: '/assets/music_icon.png',
        scaledSize : new google.maps.Size(ICON_W/4, ICON_H/4)
      }
    });
    google.maps.event.addListener(musicMarker, "mouseover", function() {
      infowindow.setContent(html);
      infowindow.open(map, musicMarker);
    });
    google.maps.event.addListener(musicMarker, "click", function() {
      infowindow.setContent(html);
      infowindow.open(map, musicMarker);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
