<h1 id="album-title"><%= @album.name %></h1>
<% if current_user && current_user.joining?(@album) %>
  <%= link_to '参加中', '/', class: "disabled btn-gradient-radius" %>
<% else %>
  <%= link_to '参加する', user_albums_path(album_id: @album.id), method: :post, class: "btn-gradient-radius" %>
<% end %>
<%= link_to 'アルバム一覧に戻る', albums_path %>
<% if @album.users.include?(current_user) %>
| <%= link_to 'このアルバムを削除する', @album, method: :delete, data: { confirm: "本当に削除しますか？" } %>
|  <%= link_to 'このアルバムを編集する', edit_album_path(@album) %>
<% end %>
<div class="pictures-wrapper">
  <%= render @pictures %>
</div>
<div class="popup" id="js-popup">
  <div class="popup-inner">
    <div class="close-btn" id="js-close-btn"><i style="color:black;"class="fas fa-times"></i></div>
    <div class="popup-content">
      <img>
    </div>
  </div>
  <div class="black-background" id="js-black-bg"></div>
</div>
<%= javascript_pack_tag 'albums/show' %>
<script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
