<h1 id="album-title"><%= @album.name %></h1>
<% if current_user && current_user.joining?(@album) %>
  <%= link_to '参加中', '/', class: "disabled btn-gradient-radius" %>
<% else %>
  <%= link_to '参加する', user_albums_path(album_id: @album.id), method: :post, class: "btn-gradient-radius" %>
<% end %>
<%= link_to 'アルバム一覧に戻る', albums_path %>
<% if @album.users.include?(current_user) %>
  | <%= link_to 'このアルバムを削除する', @album, method: :delete, data: { confirm: "本当に削除しますか？" } %>
  | <%= link_to 'このアルバムを編集する', edit_album_path(@album) %>
  | <%= link_to 'コラージュしてエクスポート', export_album_path(@album), target: :_blank %>
<% end %>
|<div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="<%= request.url %>" data-color="default" data-size="large" data-count="true" style="display: none;"></div>
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<% if @album.users.include?(current_user) %>
  <div class="playlist_form">
    <div class="wrapper-button-new-playlist"><button class="button-new-playlist">プレイリストを追加する</button></div>
    <%= form_with(model: @playlist, url: playlists_path(album_id: @album.id), class: "form-new-playlist-link") do |form| %>
      <div id="playlist-name-input">
        <%= form.text_field :name, placeholder: 'プレイリストのタイトルを追加', class: "input-new-playlist-name", autocomplete:"off", required: true %>
      </div>
      <div id="playlist-link-input">
        <%= form.text_field :url, placeholder: 'プレイリストのリンクを設定', class: "input-new-playlist-link", autocomplete:"off", required: true %>
      </div>
      <div class="right">
        <%= button_tag type: 'submit', class: "button-playlist-submit", data: { disable_with: "保存中" } do %>
          <i class="fas fa-headphones-alt"></i>  追加する
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless @playlists.nil? %>
    <div id="playlists">
      <%= render @playlists %>
    </div>
  <% end %>
<% end %>
<div class="pictures-wrapper">
  <div class="top-pictures grid grid-cols-2 md:grid-cols-3">
    <%= render @top_pictures %>
  </div>
  <div class="bottom-pictures grid grid-cols-2 md:grid-cols-6">
    <%= render @bottom_pictures %>
  </div>
</div>
<div class="popup" id="js-popup">
  <div class="popup-main max-h-90vh">
    <div class="close-btn text-right cursor-pointer" id="js-close-btn"><i style="color:black;"class="fas fa-times"></i></div>
    <div class="popup-content text-center">
      <div class="popup-comment">
      </div>
    </div>
  </div>
  <div class="black-background" id="js-black-bg"></div>
</div>
<%= javascript_pack_tag 'albums/show' %>
<script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
<script type="text/javascript">LineIt.loadButton();</script>
