<h1 id="album-title"><%= @album.name %></h1>
<% if current_user && current_user.joining?(@album) %>
  <%= link_to '参加中', '/', class: "disabled btn-gradient-radius" %>
<% else %>
  <%= link_to '参加する', user_albums_path(album_id: @album.id), method: :post, class: "btn-gradient-radius" %>
<% end %>
<%= link_to 'アルバム一覧に戻る', albums_path %>
<% if @album.users.include?(current_user) %>
| <%= link_to 'このアルバムを削除する', @album, method: :delete, data: { confirm: "本当に削除しますか？" } %>
| <%= link_to 'このアルバムを編集する', edit_album_path(@album) %>
| <%= link_to 'コラージュしてエクスポート', export_album_path(@album), target: :_blank %>
<% end %>
<div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="<%= request.url %>" data-color="default" data-size="large" data-count="true" style="display: none;"></div>
<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<div class="pictures-wrapper">
  <div class="top-pictures">
    <%= render @top_pictures %>
  </div>
  <div class="bottom-pictures">
    <%= render @bottom_pictures %>
  </div>
</div>
<div class="popup" id="js-popup">
  <div class="popup-inner">
    <div class="close-btn" id="js-close-btn"><i style="color:black;"class="fas fa-times"></i></div>
    <div class="popup-content">
      <div class="popup-comment">
      </div>
    </div>
  </div>
  <div class="black-background" id="js-black-bg"></div>
</div>
<%= javascript_pack_tag 'albums/show' %>
<script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
