<h1 id="album-title"><%= @album.name %></h1>
<% if current_user && current_user.joining?(@album) %>
  <%= link_to '参加中', '/', class: "disabled btn-gradient-radius" %>
<% else %>
  <%= link_to '参加する', user_albums_path(album_id: @album.id), method: :post, class: "btn-gradient-radius" %>
<% end %>
<%= link_to 'アルバム一覧に戻る', albums_path %>
<% if @album.users.include?(current_user) %>
| <%= link_to 'このアルバムを削除する', @album, method: :delete, data: { confirm: "本当に削除しますか？" } %>
| <%= link_to 'このアルバムを編集する', edit_album_path(@album) %>
| <%= link_to 'コラージュしてエクスポート', export_album_path(@album), target: :_blank %>
    <div class="playlist_form">
      <div class="wrapper-button-new-playlist"><button class="button-new-playlist">プレイリストを追加する</button></div>
      <%= form_with(model: @playlist, url: playlists_path(album_id: @album.id), class: "form-new-playlist-link") do |form| %>
        <div id="playlist-name-input">
          <%= form.text_field :name, placeholder: 'プレイリストのタイトルを追加', class: "input-new-playlist-name", autocomplete:"off", required: true %>
        </div>
        <div id="playlist-link-input">
          <%= form.text_field :url, placeholder: 'プレイリストのリンクを設定', class: "input-new-playlist-link", autocomplete:"off", required: true %>
        </div>
        <div class="right">
          <%= button_tag type: 'submit', class: "button-playlist-submit", data: { disable_with: "保存中" } do %>
            <i class="fas fa-headphones-alt"></i>  追加する
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="playlists">
      <% if @playlists.present? %>
        <% @playlists.each do |playlist|%>
          <%= link_to playlist.url, target: :_blank do%>
            <div class="playlist-img-wrap">
              <% if playlist.url.include?('open.spotify.com') %>
                <%= image_tag 'spotify.jpg', :size => '150x150', :class => 'soptify-image' %>
              <% elsif playlist.url.include?('music.apple.com') %>
                <%= image_tag 'AppleMusic.png', :size => '150x150', :class => 'applemusic-image' %>
              <% else %>
                <%= image_tag 'line.png', :size => '150x150' %>
              <% end %>
              <p><%= playlist.name %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>
<div class="pictures-wrapper">
  <div class="top-pictures">
    <%= render @top_pictures %>
  </div>
  <div class="bottom-pictures">
    <%= render @bottom_pictures %>
  </div>
</div>
<div class="popup" id="js-popup">
  <div class="popup-inner">
    <div class="close-btn" id="js-close-btn"><i style="color:black;"class="fas fa-times"></i></div>
    <div class="popup-content">
      <div class="popup-comment">
      </div>
    </div>
  </div>
  <div class="black-background" id="js-black-bg"></div>
</div>
<%= javascript_pack_tag 'albums/show' %>
<script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
