<h1>アカウント登録</h1>

<div class="login-form">
  <div class="login-basic">
    <h3>
      <span class='font-serif-sc'>memopic</span> でアカウント登録
    </h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="box-nickname">
        <div class="column-left">
          <%= f.label :nickname, 'ニックネーム' %><br />
        </div>
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", required: true %>
      </div>

      <div class="box-email">
        <div class="column-left">
          <%= f.label :email %><br />
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
      </div>

      <div class="box-password">
        <div class="column-left">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
        </div>
        <%= f.password_field :password, autocomplete: "new-password", required: true, minlength: 6 %>
      </div>

      <div class="box-password-confirmation">
        <div class="column-left">
          <%= f.label :password_confirmation %>
        </div>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, minlength: 6, oninput: "CheckPassword(this)" %>
      </div>

      <div class="box-login">
        <div class="actions">
          <%= f.submit "登録" %>
        </div>
      </div>

    <% end %>
  </div>
  <%= render "users/shared/links" %>
</div>

<style media="screen">
  body{
    background-color: #efede8;
  }
</style>
<script type="text/javascript" language="JavaScript">
  function CheckPassword(input){
    var form = document.forms[0];
    form["user[password_confirmation]"].setCustomValidity("");
    if (form["user[password]"].value != form["user[password_confirmation]"].value) {
      form["user[password_confirmation]"].setCustomValidity("パスワードと確認用パスワードが一致しません");
    }
  }
</script>
